@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', helvetica, sans-serif;
}

header {
    color: #F6F6F6;
    background-color: #1E6823;
    text-align: center;

    width: 100%;
    box-sizing: border-box;
    padding: 100px 0;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    color: #F6F6F6;
    background-color: #1E6823;
    text-align: center;

    width: 100%;
    box-sizing: border-box;
    padding: 30px 0;
}

footer a {
    color: #F6F6F6;
}

footer a:hover {
    color: #F6F6F6;
}

h1 {
    font-weight: 900;
}

h2 {
    text-align: center;
    color: #1E6823;
    text-transform: uppercase;
    line-height: 100px;
}

/* header */

.header-sample {
    display: inline-block;
    margin: 50px 0;
    padding: 10px;
    background-color: #F6F6F6;
    border-radius: 10px 10px 0 10px;

    width: 500px;
    min-width: 10px;
    max-width: 706px;
}

@media screen and (max-width: 800px) {
    .header-sample {
        max-width: 300px;
    }
}

.is-resizable {
    resize: horizontal;
    overflow: auto;
}

.draghere {
    color: #1E6823;
    text-align: right;
    font-size: 12px;
}

/* article */
.example {
    display: flex;
    justify-content: center;
}

.example > .code {
    width: 400px;
    margin-right: 20px;
}

.example > .render {
    width: 400px;
}
