{
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "cursorOffset": -1,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false
}
